nav {
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color:navy;
	color:white;
}

h2,button {
	margin: 10px;
}

button {
	border-radius:5px;
	height:40px;
	width:100px;
}